
body {
    background-color: #E7F6F2;
}
hr {
    border-style: dotted none none none;
    width: 10%;
    border-width: 10px;
    border-color: #A5C9CA;
}

h1 {
    color: #66BFBF;
    display: inline;
}

h3 {
    color: #66BFBF
}

.sec_td {
    padding: 0 15px;
}

p {
    display: block;
}
div {
    display: inline-block;

}
#title {
    background-image: url("../img/FullSizeRender.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
      height: 300px; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
}
