{% include "header.html" %}

        <!-- Page Header-->
       <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/certificate-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Certificate</h1>
                            <span class="subheading">Never stop learning.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<section>



    <div class="card">
        <div class="card-header">
            <h3>Cloud Compute:</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <a class="card-link"
                                    href="https://www.credly.com/badges/6860e7b9-413a-48e1-b3db-8ad2046b5056/public_url"
                                    target=”_blank”>AWS Certified SysOps Administrator – Associate</a>
                            </td>
                            <td>AWS</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="card-link"
                                    href="https://www.credly.com/badges/0f076f3d-160d-4a4e-8e3f-3e617b21396d/public_url"
                                    target=”_blank”>AWS Certified Developer – Associate</a>
                            </td>
                            <td>AWS</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="card-link"
                                    href="https://www.credly.com/badges/8a3e7378-2bdf-4e5b-bb34-e04a5c0ffaa0/linked_in_profile"
                                    target=”_blank”>AWS Certified Solutions Architect – Associate</a>
                            </td>
                            <td>AWS</td>
                        </tr>

                    </tbody>
                </table>
            </li>
        </ul>
    </div>


</section>
<hr>
    <section>



        <div class="card">
            <div class="card-header">
                <h3>Programming:</h3>
            </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <table class="table table-striped">
                <tbody>

                    <tr>
                        <td>
                            100 Days of Code: The Complete Python Pro Bootcamp for 2022
                        </td>
                        <td class="sec_td">Udemy</td>
                    </tr>
                    <tr>
                        <td>
                            Pragmatic System Design
                        </td>
                        <td class="sec_td">Udemy</td>
                    </tr>
                    <tr>
                        <td>
                            Python for Everybody
                        </td>
                        <td class="sec_td">Coursera</td>
                    </tr>
                    <tr>
                        <td>
                            Web Application Technologies and Django
                        </td>
                        <td class="sec_td">Coursera</td>
                    </tr>
                    <tr>
                        <td>
                            PostgreSQL for Everybody
                        </td>
                        <td class="sec_td">Coursera</td>
                    </tr>
                    <tr>
                        <td>
                            REST API Design, Development & Management
                        </td>
                        <td class="sec_td">Udemy</td>
                    </tr>

                    </tbody>
                </table>
            </li>
        </ul>
    </div>

    </div>
</section>
<hr>
<section>
    
    <div class="card">
        <div class="card-header">
            <h3>IT Support:</h3>
        </div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <a class="card-link"
                            href="https://www.credly.com/badges/5891e916-d22c-4f50-b8e8-727f42f594f8/public_url"
                            target=”_blank”>Google IT Support Certificate</a>
                    </td>
                    <td>Google</td>
                </tr>
                <tr>
                    <td>
                        <a class="card-link"
                            href="https://www.credly.com/badges/1c54757f-d49c-437a-8f14-e2fe39ca5b76/public_url"
                            target=”_blank”>Google Data Analytics Professional Certificate</a>
                    </td>
                    <td>Google</td>
                </tr>
                <tr>
                    <td>
                        <a class="card-link"
                            href="https://www.credly.com/badges/323b4405-6d9c-44cd-bb0b-ee92c2c268ef/public_url"
                            target=”_blank”>Open Source Software Development, Linux and Git Specialization</a>
                    </td>
                    <td>The Linux Foundation</td>
                </tr>


                <tr>
                    <td>
                        Google IT Automation with Python Specialization
                    </td>
                    <td class="sec_td">Google</td>
                </tr>

            </tbody>
        </table>
    </li>
</ul>
</div>

</div>


</section>




{% include "footer.html" %}