{% include "header.html" %}

        <!-- Page Header-->
       <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg') }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Ray LEI </h1>
                        <span class="subheading"><i class="fa-brands fa-linkedin"></i>
                            <a href="https://www.linkedin.com/in/shengbiao-lei-09438087/" class="link-light"
                                target="_blank"
                                rel="noopener noreferrer">https://www.linkedin.com/in/shengbiao-lei-09438087/
                            </a>
                            <br><i class="fa-solid fa-phone-volume"></i> +1-647-997-8604
                            <br><i class="fa-solid fa-envelope"></i> shengbiao.lei@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
        </header>
{% include "footer.html" %}