{% include "header.html" %}
        <!-- Page Header-->
       <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>All about Ray</h1>
                            <span class="subheading">Tireless enthusiasm for improvement and growth.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<section id="introduction">
    <a href="resume.html"> resume</a>
</section>
<section id="certificate">
    <a href="certificate.html">certificate and course</a>
</section>
<section id="programming">
    <a href="programming.html"> Programming Projects</a>
</section>



<section id="leisure">
    <a href="leisure.html"> leisure</a>
</section>

{% include "footer.html" %}