{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/resume-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Ray LEI </h1>
                    <span class="subheading"><i class="fa-brands fa-linkedin"></i> 
                        <a href="https://www.linkedin.com/in/shengbiao-lei-09438087/" class="link-light" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/in/shengbiao-lei-09438087/
                        </a>
                        <br><i class="fa-solid fa-phone-volume"></i> +1-647-997-8604 
                        <br><i class="fa-solid fa-envelope"></i> shengbiao.lei@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="profile" class="section-high">
    <h3>Profile:</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            11+ years of technical support experience with Linux-based media distribution systems. An outstanding record
            of customer satisfaction from multiple high-profile enterprise customers.
        </li>
        <li class="list-group-item">
            Excellent problem-solving skills and performance analysis, software/hardware/network troubleshooting, and
            reliability analysis skill.
        </li>
        <li class="list-group-item">
            Excellent communication skills to coordinate with multiple functional departments to get jobs done under
            minimal supervision.
        </li>
        <li class="list-group-item">
            Excellent skills with Linux system admin, TCP/IP network, software development and Cloud Compute, and
            tireless enthusiasm to learn more technologies.
        </li>
    </ul>
    <hr>
</section>
<section class="section-low">
    <h3>Experience:</h3>
    <h4><u>Panasonic Avionic Corporation</u></h4>
    <h5>Customer Support Field Engineer | Canada | 2019 - Current</h5>
    <h5>Technical Support Representative | Canada | 2016 - 2019</h5>
    <h5>Customer Support Field Engineer | China | 2011 - 2016</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Act as primary focal to lead the technical support effort on multiple Linux-based media distribution system
            products with more than 65,000 devices operating non-stop every day for high-profile airline customers with
            global prize-winning reputations.
        </li>
        <li class="list-group-item">
            Lead the software deployment tasks to plan, arrange, trial, manage, and monitor the software release rolling
            out to products distributed onboard more than 100 aircraft flying globally which generates multi-billion
            revenue for the customers.
        </li>
        <li class="list-group-item">
            Communicate and manage technical discussions among stakeholders across multiple functional departments
            internally and externally, including Account Management, Branding, PMO, Operation Services, Product Support,
            Software / Hardware Engineering, System Integration Engineering, Media and Content Provider, Customer
            Engineering and more.

        </li>
        <li class="list-group-item">
            Diagnose and troubleshoot technical issues, including infrastructure, Linux OS, software application,
            hardware, TCP/IP Network, MySQL database, API, and log review. Research and identify solutions to address
            issues experienced by customers.

        </li>
        <li class="list-group-item">
                  <span>Properly escalate unresolved issues to appropriate internal teams, track system issues through to resolution within agreed time limits, and communicate back to customers.
                  </span>
        </li>
        <li class="list-group-item">
            Mentor internal team members and customer personnel.

        </li>

    </ul>
    <h4><u>Insigma Hengtian software</u></h4>
    <h5>Quality Assurance Engineer | China | 2008 - 2009</h5>
    <span>Developed test cases and Python automation tests.</span>
    <hr>
</section>

<section class="section-high">
    <h3>Education:</h3>

    <h4><u>The Hong Kong University of Science and Technology | Telecom | 2009 - 2010</u></h4>
    <h4><u>The Huazhong University of Science and Technology | Telecom | 2004 - 2008</u></h4>
    <hr>
</section>

<section class="section-low">
    <h3>Skills & Abilities:</h3>

    Linux System Admin | Customer Support | Troubleshooting | Data analysis | TCP/IP network | AWS | MySQL/Postgres |
    Python | Bash Script | Flask | HTML | Bootstrap | Git | GCP

        <table cellspacing="10">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            Linux System
                        </td>
                        <td>
                            ⭐⭐⭐⭐⭐️
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Python
                        </td>
                        <td>
                            ⭐⭐⭐⭐⭐️
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MySQL
                        </td>
                        <td>
                            ⭐⭐⭐⭐
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Postgres
                        </td>
                        <td>
                            ⭐⭐⭐⭐
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Data analysis
                        </td>
                        <td>
                            ⭐⭐⭐⭐
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            Customer Support
                        </td>
                        <td>
                            ⭐⭐⭐⭐⭐
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bash Script
                        </td>
                        <td>
                            ⭐⭐⭐⭐
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Google Cloud Platform
                        </td>
                        <td>
                            ⭐⭐⭐⭐
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Git
                        </td>
                        <td>
                            ⭐⭐⭐
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Django
                        </td>
                        <td>
                            ⭐⭐⭐
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
    <hr>


    Certificates & Courses:
    AWS Certified Solutions Architect – Associate AWS
    100 Days of Code: The Complete Python Pro Bootcamp for 2022 Udemy
    Pragmatic System Design Udemy
    REST API Design, Development & Management Udemy
    Google IT Automation with Python Specialization Google
    Google IT Support Professional Certificate Google
    Google Data Analytics Professional Certificate Google
    Preparing for Google Cloud Certification: Cloud Engineer Specialization Google
    Python for Everybody Coursera
    Open Source Software Development, Linux and Git The Linux Foundation
    PostgreSQL for Everybody Coursera


</section>


<section class="section-high">
    <h3>Project experience:</h3>
    <ul>
        <li>
            Selenium & BeautifulSoup to fetch data from internal websites so as to trigger alerts on the operation
            incidents automatically.
        </li>
        <li>
            Using BeautifulSoup to scrape data and manipulate Spotify playlist via API.
        </li>
        <li>
            <a href="https://github.com/fierceray/100days_of_python/tree/main/flight-deals">Using Kiwi API to scrape for
                low flight rate.</a>
        </li>
        <li>
            Using Stock API to scrape data and alert users via Twilio SMS API.
        </li>
        <li>
            Using BeautifulSoup to scrape Amazon prices and send email alerts.
        </li>
        <li>
            Using Tkinter to create a Flash Card application.
        </li>
        <li>
            SQLite database analyzes system performance with SQL query and Openpyxl to automatically populate the
            performance report.
        </li>
        <li>
            Program Blackjack, Snake, Pong, Frog Cross game project with Turtle package.
        </li>
        <li>Contributed to Github open source projects.
        </li>
    </ul>
    <hr>
    <section class="section-low">
    <h3>Certificate:</h3>
    <ul>
        <table>
            <tr>
                <td>
                    <li><a href="https://www.credly.com/badges/8a3e7378-2bdf-4e5b-bb34-e04a5c0ffaa0/linked_in_profile">AWS
                        Certified Solutions Architect – Associate</a></li>
                </td>
                <td class="sec_td">AWS</td>
            </tr>
            <tr>
                <td>
                    <li>100 Days of Code: The Complete Python Pro Bootcamp for 2022</li>
                </td>
                <td class="sec_td">Udemy</td>
            </tr>
            <tr>
                <td>
                    <li>Pragmatic System Design</li>
                </td>
                <td class="sec_td">Udemy</td>
            </tr>

            <tr>
                <td>
                    <li>Google IT Automation with Python Specialization</li>
                </td>
                <td class="sec_td">Google</td>
            </tr>
            <tr>
                <td>
                    <li>Google IT Support Professional Certificate</li>
                </td>
                <td class="sec_td">Google</td>
            </tr>
            <tr>
                <td>
                    <li>Python for Everybody</li>
                </td>
                <td class="sec_td">Coursera</td>
            </tr>
            <tr>
                <td>
                    <li>Web Application Technologies and Django</li>
                </td>
                <td class="sec_td">Coursera</td>
            </tr>
            <tr>
                <td>
                    <li>Open Source Software Development, Linux and Git</li>
                </td>
                <td class="sec_td">The Linux Foundation</td>
            </tr>
            <tr>
                <td>
                    <li>Google Data Analytics Professional Certificate</li>
                </td>
                <td class="sec_td">Google</td>
            </tr>
            <tr>
                <td>
                    <li>PostgreSQL for Everybody</li>
                </td>
                <td class="sec_td">Coursera</td>
            </tr>
        </table>
    </ul>

    <hr>
</section>

{% include "footer.html" %}